.ytp-time-separator {
  display: none;
}

.ytp-time-duration {
  display: none;
}

.ytd-thumbnail-overlay-time-status-renderer {
  display: none;
}

.vod-controls {
  font-size: 109%;
  display: inline-flex;
  vertical-align: top;
  padding: 0 5px;
  white-space: nowrap;
  line-height: 35px;
  height: 100%;
}

.spoiler-button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  height: 60%;
  align-self: center;
}

.yt-vid {
  filter: blur(50px);
}
